article.newsFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 1rem 1rem 1rem;
}

section.createPost__button {
    background-color: rgb(144, 144, 144);
    padding: 0rem 18.5rem;
}

section.createPost__button button {
    background-color: lightgrey;
    border: none;
    color: blue;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px 15px 5px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 15px;
    width: 110px;
    height: 35px;
}
section.createPost button:hover {
    background-color: lightslategrey;
}

article.newsFeed section.feed__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 4rem;
    margin-bottom: 0rem;
    border: solid lightslategrey;
    border-width: 1px;
    width: 600px;
}

article.newsFeed section:nth-child(2n+1) {
    background-color: rgb(144, 144, 144);
}

section.feed__post div.postButtons button {
    background-color: lightgrey;
    border: none;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 15px;
    width: 75px;
    height: 30px;
}
section.feed__post div.postButtons button:hover {
    background-color: lightslategrey;
}

section.newPost__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 4rem;
    margin-top: 0.5rem;
    width: 600px;
}

section.newPost__form div {
    display: flex;
    flex-direction: column;
    width: 400px;
}

section.newPost__form div input.form-control {
    height: 60px;
}

section.editPost__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 4rem;
    margin-top: 0.5rem;
    border: solid lightslategrey;
    border-width: 0.5px;
    width: 600px;
}
section.editPost__form input {
    height: 60px;
}