

section.edit__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

section.edit__bio div{
    display: flex;
    flex-direction: column;
    width: 250px;
}

section.edit__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

section.edit__links div{
    display: flex;
    flex-direction: column;
}

section.edit__links h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
}

section.edit__links fieldset {
    padding-top: 0rem;
}

ol.profileLink__list {
    margin-top: 0rem;
}

ol.profileLink__list li {
    margin-top: 1rem;
    font-size: 19px;
}

ol.profileLink__list a {
    margin: 0rem 1rem 0rem 0rem;
}