#mainContainer {
    display: flex;
    flex-direction: row;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mainContainer article.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 10%;
    border: solid lightslategrey;
    border-width: 0.5px;
    margin-right: 0px;
    height: 700px;
}
#mainContainer article.quick__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;
    overflow-y: scroll;
}
#mainContainer article.quick__access::-webkit-scrollbar {
    width: 2px;
}
#mainContainer article.quick__access::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#mainContainer article.quick__access::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#mainContainer article.quick__access {
    flex-basis: 20%;
    border: solid lightslategrey;
    border-width: 0.5px;
    margin-right: 0px;
    height: 700px;
}

#mainContainer article.application {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    border: solid lightslategrey;
    align-items: center;
    border-width: 0.5px;
    max-height: 700px;
}

#mainContainer article.application {
    overflow-y: scroll;
    overflow-x: hidden;
}

#mainContainer article.application::-webkit-scrollbar {
    width: 1px;
}
   
#mainContainer article.application::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#mainContainer article.application::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}