#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.header h2 {
    margin: 0.5rem;
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(144, 144, 144);
    margin: 0rem;
    width: 702px; 
}

#mainContainer article.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 10%;
    background-color: rgb(192, 192, 192);
    border-right: solid lightslategrey;
    border-width: 0.5px;
    margin-right: 0px;
    height: 900px;
}
#mainContainer article.quick__access {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 192, 192);
    min-width: 220px;
    max-width: 250px;
    overflow-y: scroll;
}
#mainContainer article.quick__access::-webkit-scrollbar {
    width: 0.5px;
}
#mainContainer article.quick__access::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#mainContainer article.quick__access::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#mainContainer article.quick__access {
    flex-basis: 20%;
    border-left: solid lightslategrey;
    border-width: 0.5px;
    margin-right: 0px;
    height: 900px;
}

#mainContainer article.application {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    border-left: solid lightslategrey;
    border-right: solid lightslategrey;
    border-bottom: solid lightslategrey;
    background-color: rgb(192, 192, 192);
    align-items: center;
    border-width: 0.5px;
    max-height: 900px;
}

#mainContainer article.application {
    overflow-y: scroll;
    overflow-x: hidden;
}

#mainContainer article.application::-webkit-scrollbar {
    width: 0.5px;
}
   
#mainContainer article.application::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#mainContainer article.application::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}