#mainContainer {
    display: flex;
    flex-direction: row;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mainContainer article.quick__access {
    flex-basis: 20%;
    border: solid black;
    margin-right: 2rem;
    height: 700px;
}

#mainContainer article.application {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    border: solid black;
    max-height: 700px;
}

#mainContainer article.application {
    overflow-y: scroll;
}

#mainContainer article.application::-webkit-scrollbar {
    width: 5px;
}
   
#mainContainer article.application::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#mainContainer article.application::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}