.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1rem;
}

div.navbar__item {
    margin: 0.1rem;
}

div.navbar__item button.nav__button {
    background-color: lightgrey;
    border: none;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 15px;
    width: 125px;
    height: 40px;
}
div.navbar__item button.nav__button:hover {
    background-color: lightslategrey;
}

button.quickAccess {
    background-color: lightgrey;
    border: none;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
    width: 200px;
    height: 60px;
    word-wrap: break-word;
}

button.quickAccess:hover {
    background-color: lightslategrey;
}




